<!DOCTYPE html>
  <html lang="fr">
      <head>
          <meta charset="UTF-8">
          <title>Express movie</title>
          <link rel="stylesheet" href="../public/style.css">
      </head>

      <body>
          <div class="central">
         <%- include ./partials/header %>

          <h1>Express movie , le site des cinéphiles</h1>
          <div>Plutôt films ou séries</div>


        
            
          </div>
        <%- include ./partials/footer %>
      </body>
      </html>  