<!DOCTYPE html>
  <html lang="fr">
      <head>
          <meta charset="UTF-8">
          <title>Express movie</title>
          <link rel="stylesheet" href="../public/style.css">
      </head>

      <body>
          <div class="central">
            <%- include ./partials/header %>

          <h1>Votre recherche sur <em> The movie database </em></h1>
        
          <div>
              <input type="text" placeholder="titre de film" name="term" id="term" >
              <button id="btnSearch">Chercher</button>
          </div>
            <div id="results">

            </div>

          </div>
         <%- include ./partials/footer %>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         <script>
            const API_KEY = "566a219cd3e74bbfe8e461f93e160c8c";
            const term = document.querySelector('#term');
            const btnSearch = document.querySelector('#btnSearch');
            
            btnSearch.addEventListener('click', search);

            let resultDiv = document.querySelector('#results');


            function search() {
                const query = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=${term.value}&language=fr-FR`;
                axios.get(query)
                    .then( function(response) {
                                console.log(response);
                                displayResults(response.data.results);
                    });
                function displayResults(results) {
                        resultDiv.innerHTML = '';
                        for (let result of results) {
                            let movieDiv = document.createElement('div');
                            movieDiv.innerHTML = result.title;
                            resultDiv.appendChild(movieDiv);
                        }
                }            
            } 

            </script>
      </body>
      </html>  